body {
  font-family: Didot;
  background-color: #A94842;
}

// #logo {
//   img{
//     height: 10vh;
//
//     padding: 2vh 0 0 2vh;
//   }
// }

#wholeSite {
margin: 0 6vw 0 6vw;
background-color: #FFF;
}

.jumbotron-burger {
  img {
  // height: 400px;
  width: 100%;
  // margin: 0 5vw 0 5vw;
  // background-image: url("http://www.recipetineats.com/wp-content/uploads/2016/02/Beef-Burger4_landscape-680x469.jpg");
  // background-size: cover;
}
}

// ############## NAVBAR ###############

.navbar {
  margin-bottom: 0;
  border-bottom: 0;
  background-color: #A94842;
  height: 12vh;
  padding: 0 15px 0 15px;
}

.navbar-default {
  .navbar-nav {
    li {
      a{
        color: #FFF;
        font-size: 1.5em;
        margin-top: 2vh;
        padding-bottom: 1vh;
      }
    }
  }
}

.navbar-brand {
  img {
    height: 8vh;
    padding-bottom: 1vh;
  }
}

.navbar-toggle {
  margin-top: 3.5vh;
  padding: 1vh;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #FFF;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
  border: 0;

}

.navbar-default .navbar-nav li a:hover {
  background-color: #A94842;
  color: #FCE8C9;
  transition: 0.75s;
}

.navbar-default .navbar-nav li a {
  transition: 0.75s;
}

// ############ BODY ###############

#monthlySpecials {
  font-size: 1.8em;
  margin-top: 8vh;
}

.shakeOfMonth, .burgerOfMonth {
  margin: 0 8vw 0 8vw;
  width: 250px;
  text-align: center;
  font-size: 1.2em;
  img {
  border-radius: 5px;
  }
  p{
    margin-top: 1.5vh;
  }
}


.thumbnail {
  margin: 2vh 0 0 0;
  border: 0;
  padding: 0;
}

p{
  text-align: center;
}

.flexContainer {
  height: auto;
  width:  100%;
  display: flex;
  justify-content: center;
}

#signUpBtn {
  width: 234px;
  height: 130px;
  border-radius: 5px;
  font-size: 1em;
  background-color: #A94842;
  text-align: center;
  margin-top: 5vh;
  padding: 15px;
  p{
    color: #FFF;
  }
  p:nth-child(2){
    transition: 0.5s;
  }
}

#signUpBtn:hover {
  a{
    text-decoration: none;
  }
  p:nth-child(2) {
    color: #FCE8C9;
    transition: 0.5s;
  }
}

.whoWeAre {
  // height: ;
  background-color: #FCE8C9;
  display: flex;
  align-items: center;
  margin-top: 50px;
  padding: 10px;
  img {
    width: 210px;
    margin: 10px 40px 10px 0px;
    border-radius: 5px;
  }
  p{
    margin: 1vh 0 1vh 0;
    text-align: left;
  }
}

.info {

  width: 400px
}

.footer {
  height: 55px;
  padding: 0 15px 0 15px;
  display: flex;
  align-items: center;
  text-align: center;
  background-color: #A94842;
  color: #FFF;
}

.container-fluid {
  padding: 0;
}

button {
  border: 0;
}
